#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: -2;
}

.desktopBackground {
  width: 100vw;
  height: 33vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.toDoListHeader {
  display: flex;
  margin-top: 5vh;
  justify-content: space-between;
  width: 40vw;
  height: 8vh;
}

#toDoTitle {
  font-size: x-large;
  display: inline;
  align-self: flex-start;
  color: hsl(236, 33%, 92%);
  font-size: 36px;
}

.modeIcon {
  display: inline;
  align-self: flex-start;
  margin-top: 1vh;
}
.modeIcon:hover {
  cursor: pointer;
}

#newTaskInput {
  margin-bottom: 2vh;
  height: 6vh;
  width: 40vw;
  font-size: 18px;
  padding-left: 25px;
  margin-left: 15px;

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#newTaskInput:focus {
  outline: none;
  border: 2px solid lightgrey !important;
}

.toDoListTableContainer {
  display: center;
  margin-top: 0vh;
  width: 40vw;
  min-height: 60vh;
  border-radius: 5%;
  z-index: 10;
  background-color: transparent;
}

.checkBox:hover {
  cursor: pointer;
}

.groupCheckboxCloseButton:hover .closeButton {
  visibility: visible;
}
.closeButton {
  background-color: transparent !important;
  visibility: hidden;
}
.closeButton:hover {
  cursor: pointer;
}

.filterButton {
  background-color: transparent !important;
  color: grey;
  padding: 5px 0px;

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#clearCompletedButton {
  background-color: transparent !important;
  color: grey;

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.filterButton:hover,
#clearCompletedButton:hover {
  color: black;
}
.darkTheme .filterButton:hover,
.darkTheme #clearCompletedButton:hover {
  color: white;
}
.filterButton:focus,
.filterButton:active {
  color: hsl(220, 98%, 61%);
  outline: transparent;
}

.josefin-sans-header {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
