#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: -2;
}

.desktopBackground {
  width: 100vw;
  height: 33vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.toDoListContainer {
  display: flex;
  margin-top: 0;
  width: 45vw;
  height: 50vh;
  border-radius: 5%;
  z-index: 10;
}

.toDoListHeaderContainer {
  width: 45vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

#toDoTitle {
  font-size: x-large;
  display: inline;
  align-self: flex-start;
  color: hsl(236, 33%, 92%);
  font-size: 36px;
}

.modeIcon {
  display: inline;
  align-self: flex-start;
  margin-top: 40px;
}
.modeIcon:hover {
  cursor: pointer;
}

.josefin-sans-body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-header {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
