:root {
  --background-color-light: hsl(236, 33%, 92%);
  --text-color-light: #242424;

  --background-color-dark: #242424;
  --text-color-dark: hsl(236, 33%, 92%);
}

body {
  margin: 0;
  display: flex;
  position: relative;
  z-index: -3;
}
body.lightTheme {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
body.darkTheme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

#newTaskInput.lightTheme {
  background-color: white;
  color: var(--text-color-light);
}
#newTaskInput.darkTheme {
  background-color: #303030;
  color: var(--text-color-dark);
  border: none;
}

.toDoListTable.lightTheme {
  background-color: white;
  color: var(--text-color-light);
}
.toDoListTable.darkTheme {
  background-color: #303030;
  color: var(--text-color-dark);
  border: none;
}
